*{
    padding: 0;
    margin: 0;
}
.mar-zero{
    margin: 0 auto;
}
.mar-auto{
    margin: auto;
}

.div-stWidth{
    width: 100%;
}

.div-samllheight{
    height: 100px;
}

.div-middleheight{
    height: 400px;
}

.div-bigheight{
    height: 800px;
}

.div-floatright{
    float: right;
    margin: auto 15px;

}

.div-floatleft{
    float: left;
    margin: auto 15px;
}
.div-text-center{
    text-align:center;
}
.div-jc-center{
    display: flex;
    justify-content: center;

}
.div-jc-start{
    display: flex;
    justify-content: flex-start;

}
.div-jc-end{
    display: flex;
    justify-content: flex-end;
}
.div-jc-between{
    display: flex;
    justify-content: space-between;
}
.div-jc-around{
    display: flex;
    justify-content: space-around;
}

.div-ai-center{
    display: flex;
    align-items: center;
}
.div-height-110{
    height: 110px;
    
}
.text-decoration-none{
    text-decoration: none;
}
.background-int{
    background-size: 100%;
    background-repeat: no-repeat;
}
.div-fd-row{
    display: flex;
    flex-direction: row;
}
.div-fw-wrap{
    display: flex;
    flex-wrap: wrap;
}
.div-shadow{
    box-shadow: 5px 5px 5px #8f8f8f;
}
.div-radius{
     border-radius: 25px 25px 25px 25px;
}
.div-fd-column{
    display: flex;
    flex-direction: column;
}
.div-ai-start{
    display: flex;
    align-items: flex-start;
}

