.header_t {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.cs1{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
    background-color: #f4fbf4;
    border-radius: 25px 25px 25px 25px;

}

.cs2{
    transition: all .2s linear;

}
.cs2:hover{
    transition: all .2s linear;
    transform: translate3d(0,-6px,0);
    box-shadow: 7px 9px 5px #3f4446;
}
.box12{
    float: left;
    width:320px;
    background-color: #ffffff;
    margin-right: 10px;
}
.bg22{
    width: 320px;
    height: 120px;
    background: url("../img/shasha.jpg");
    background-position: 100% 32%;
    background-size: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.box12 img{
    border-radius: 50%;
    border: 4px solid hsla(0,0%,100%,.4);
    width: 90px;
    margin: -50px 0 0;
    transition: all .7s;
}

.box12 img:hover{
    transform: scale(1.3) rotate(1turn);

}
.vd1{
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: -1;
}

.wrapper123{
    background: #f4fbf4;
    margin: 0 auto;
    max-width: 900px;
    padding:0 30px;
    border-radius: 25px 25px 25px 25px;
    margin-left: 30px;

}
.wrapper11{
    max-width: 95%;
    margin: 60px auto;
}