<!DOCTYPE html>
<html lang="en">
<head>
{% include meta_tags/base2.html %}
{% include externals/styling.html %}
</head>
<body>
{% include header.html %}
<div class="wrapper11 div-fd-row">
    <div class="box12 div-shadow div-radius">
        <div class="bg22"></div>
        <div class="div-ai-center div-fd-column  div-stWidth">
            <div class="mar-zero">
                <img src="https://i.loli.net/2020/07/10/tW2fu3hFmGZVgJQ.jpg" alt="">
            </div>
            <p>GikoMax</p>
            <p>一条没技术的咸鱼</p>
        </div>
    </div>
    <div class="wrapper123 cs2 div-shadow">
        {{ content }}

    </div>

</div>
{% include page/about.html %}
{% include externals/scripting.html %}
</body>
</html>