<!DOCTYPE html>
<html lang="en">
<head>
{% include meta_tags/base2.html %}
{% include externals/styling.html %}
</head>
<body>
{% include header.html %}
<div class="wrapper11 div">
    <div class="div-fd-column">
    <div class="box12 div-shadow div-radius">
        <div class="bg22"></div>
        <div class="div-ai-center div-fd-column  div-stWidth">
            <div class="mar-zero">
                <img src="https://i.loli.net/2020/07/10/tW2fu3hFmGZVgJQ.jpg" alt="">
            </div>
            <p>GikoMax</p>
            <p>一条没技术的咸鱼</p>
        </div>
    </div>
<div>
    <div class="box1231 div-shadow div-radius">
        <h4 class="as1">公告日志</h4>
        <div>2020-10-3个人简介页面更新 添加头像hover效果 做出技能点进度条
            <br>2020-10-3更新 主页大更新<br>留言区暂时未开放更多功能请敬请期待
            <br>2020-9-20 完全修改index页面 修改主页效果为当前模样

    </div>
</div>
</div>
</div>
    <div class="wrapper123 cs2 div-shadow">
        {{ content }}




</div>
{% include page/about.html %}
{% include externals/scripting.html %}
</body>
</html>